<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<!-- Put site-specific property overrides in this file. -->

<configuration>

	<property>
  		<name>plugin.folders</name>
  		<value>./src/plugin</value>
  		<description>Directories where nutch plugins are located.  Each
  			element may be a relative or absolute path.  If absolute, it is used
  			as is.  If relative, it is searched for on the classpath.
  		</description>
	</property>
</configuration>
